/* ==========BASIC UNIVERSAL STYLING & CLEAN UP============= */
    /* some basic css resetting */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}    
body { 
    margin: 0;
    box-sizing: border-box;     
}
a { text-decoration: none; color:black; }

.p-left-m { 
    padding-left: 75px;
}

.p-right-m { 
    padding-right: 75px;
}

h1{
    text-align: center;
    font-size: 45px;
}

button{
    display: flex;
    align-self: center;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    color: #fff;
    background: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* ==========HEADER============= */
/* ==========LOGO============= */
.logo{
    max-width: 75px;
    max-height: 75px;
}
/* ==========NAVIGATION============= */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
    display: flex;
	text-align: center;
	display: block;
}

.main-nav li {
    margin: auto;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}
.main-nav a:hover {
	color: #718daa;
}

/* ==========MAIN BODY CONTENT============= */


/* ==========SECTION 1 STYLING============= */
.landing-image{
    background-image: url('../images/placeholder2.jpg');
    background-size: cover;
    background-position: center;
    height: 91vh;
}

.info-box{
    position: absolute;
    right: 5%;
    top: 55%;
    transform: translateY(-50%); 
    width: 25%;
    height: 400px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
}

.info-box h2{
    margin: 0;
    font-size: 35px;
    text-align: center;
}

.info-box button{
    display: flex;
    align-self: center;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    color: #fff;
    background: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* ==========SECTION 2 STYLING============= */
.about{
    margin-top: 50px;
    height: 80vh;
}

.about > div > img {
    width: 200px;
    height: 200px;
}

.flex-container {
    margin-top: 50px;
    display: flex;
    gap: 35px;
    /* height: 33vh; */
    width: 75vw;
    max-width: 1300px;
    margin: 50px auto 0 auto;
    justify-content: center;
    align-items: center;
}


/* ==========SECTION 3 STYLING============= */
.gallery h1{
    margin-bottom: 50px;
}

.image-gallery{
    margin: auto;
    width: 1300px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 400px;
    gap: 50px;
}

.image-gallery img{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ==========SECTION 4 STYLING============= */
.bookings{
    margin-top: 100px;
}

.booking-card{
    width: 85%;
    max-width: 1300px;
    border: #34495e;
    border-style: solid;
    border-radius: 15px;
    display: flex;
    position: relative;
    height: 300px;
    margin: 100px auto;
}

.booking-card img {
    position: absolute;
    width: 300px;
    height: 300px;
    top: -50px;
    left: 50px;
}

.booking-card div{
    margin-left: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.booking-card > div > h2, .booking-card > div > h3{
    text-align: center;
}

.booking-card button{
    text-align: center;
}


/* ==========Contact Section 4 STYLING============= */
.contact{
    display: flex;
    flex-direction: row;
}

.contact div {
    flex: 1;
}

.contact > div > img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.contact-form-container {
    overflow: hidden;
    width: 75%; /* Updated width to 75% */
  }
  
  .contact-form {
    max-width: 700px;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in the width */
    margin: 0 auto; /* Center align the form */
  }
  
  .contact-form h2 {
    text-align: center;
    color: #333333;
  }
  
  .contact-form label {
    display: block;
    margin: 10px 0 5px;
    color: #555555;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-form textarea {
    resize: vertical;
  }
  
  .contact-form > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-form button:hover {
    background-color: #45a049;
  }

/* ==========FOOTER STYLIING============= */




/* ==========RESPONSIVE DESIGN============= */

/* ===== 5K RETINA MAC LABS: Media queries for Curtin Uni mac lab testing only ===== */
@media only screen and (max-width: 5120px) {

        
}

/* ===== DESKTOP HD: Media queries for most HD desktops ===== */
@media only screen and (max-width: 1920px) {
   .about{
    height: 900px;
   }
    
    
}

/* ===== SMALL DESKTOP: Media queries for laptop/small desktop ===== */
@media only screen and (max-width: 1366px) { 

    .image-gallery{
    width: 1000px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    }

    .image-gallery img {
        height: 300px;
        width: 300px;
    }

    .booking-card{
        width: 75%;
    }
    
}

/* ===== TABLET: Media queries for verticle and horizontal ===== */
@media only screen and (max-width: 1024px) { 
    .image-gallery{
        width: 700px;
        grid-template-columns: 300px 300px;
        grid-template-rows: 300px 300px 300px;
        }
    
    .image-gallery img {
        height: 300px;
        width: 300px;
    }

    .booking-card{
        flex-direction: column;
        height: auto;
        width: 55%;
    }
        
    .booking-card > img {
        width: 200px;
        height: 200px;
        top: 10px;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        height: auto;
    }

    .booking-card div{
        margin-left: 0px;
        margin-top: 150px;
    }

    .booking-card p {
        width: 75%;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 768px) { 
    .info-box{
        width: 35%;
    }

    .about{
        height: 1450px;
    }

    .about > div > img {
        width: 250px;
        height: 250px;
    }
    
    
    .flex-container{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .flex-container:nth-child(3){
        flex-direction: column;        
    }

    .flex-container > p {
        width: 80%;
    }

    .image-gallery{
        width: 600px;
        grid-template-columns: 275px 275px;
        grid-template-rows: 275px 275px 275px;
    }
    
    .image-gallery img {
        height: 275px;
        width: 275px;
    }

    .contact{
        flex-direction: column;
        align-items: center;
    }

    .contact img {
        display: none;
    }
}

/* ===== MOBILE: Media queries for small mobile resolution. ===== */
@media only screen and (max-width: 640px) { 
    .about{
        margin-bottom: 150px;
    }

    .image-gallery{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .image-gallery img {
        height: 350px;
        width: auto;
    }
    .booking-card{
        width: 75%;
    }

    .booking-card > img {
        top: 30px;
        width: 250px;
        height: auto;
    }

    .booking-card div {
        margin-top: 175px;
    }
        
}


@media only screen and (max-width: 360px) {
    .info-box{
        top: 350px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        max-width: 100%;
    }
    
    .navbar a {
        font-size: 12px;
        padding: 8px;
    }

    .about{
        margin-bottom: 350px;
    }

    .image-gallery img{
        height: 300px;
        width: auto;
    }

    .booking-card{
        padding-bottom: 50px;
    }

    .booking-card > img {
        height: 200px;
        width: auto;
    }
}

