/* ==========BASIC UNIVERSAL STYLING & CLEAN UP============= */
    /* some basic css resetting */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}    
body { 
    margin: 0;
    box-sizing: border-box;     
}
a { text-decoration: none; color:black; }

.p-left-m { 
    padding-left: 75px;
}

.p-right-m { 
    padding-right: 75px;
}

h1{
    text-align: center;
    font-size: 45px;
}

/* ==========HEADER============= */
/* ==========LOGO============= */
.logo{
    max-width: 75px;
    max-height: 75px;
}
/* ==========NAVIGATION============= */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
    display: flex;
	text-align: center;
	display: block;
}

.main-nav li {
    margin: auto;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}
.main-nav a:hover {
	color: #718daa;
}

/* ==========MAIN BODY CONTENT============= */


/* ==========SECTION 1 STYLING============= */
.landing-image{
    background-image: url('../images/placeholder2.jpg');
    background-size: cover;
    background-position: center;
    height: 91vh;
}

.info-box{
    position: absolute;
    right: 5%;
    top: 55%;
    transform: translateY(-50%); 
    width: 25%;
    height: 400px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

.container{
    display: flex;
    justify-content: center;
}

.info-box h2{
    margin: 0;
    font-size: 35px;
    text-align: center;
}

.info-box button{
    display: flex;
    align-self: center;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    color: #fff;
    background: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, transform 0.2s;
}
/* ==========SECTION 2 STYLING============= */
.about{
    margin-top: 50px;
    height: 80vh;
}

.about p{

}

.about > div > img {
    width: 200px;
    height: 200px;
}

.flex-container {
    margin-top: 50px;
    display: flex;
    gap: 50px;
    /* height: 33vh; */
    width: 75vw;
    margin: 50px auto 0 auto;
    justify-content: center;
    align-items: center;
}


/* ==========SECTION 3 STYLING============= */
.gallery h1{
    margin-bottom: 50px;
}

.image-gallery{
    margin: auto;
    width: 850px;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px;
    gap: 50px;
}

.image-gallery img{
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ==========SECTION 4 STYLING============= */
.bookings{
    margin-top: 100px;
}

.booking-card{
    width: 85%;
    border: #34495e;
    border-style: solid;
    border-radius: 15px;
    display: flex;
    position: relative;
    height: 300px;
    margin: 100px auto;
}

.booking-card img {
    position: absolute;
    width: 300px;
    height: 300px;
    top: -50px;
    left: 50px;
}

.booking-card div{
    margin-left: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.booking-card > div > h2, .booking-card > div > h3{
    text-align: center;
}

.booking-card button{
    text-align: center;
}

/* ==========FOOTER STYLIING============= */




/* ==========RESPONSIVE DESIGN============= */

/* ===== 5K RETINA MAC LABS: Media queries for Curtin Uni mac lab testing only ===== */
@media only screen and (max-width: 5120px) {

        
}

/* ===== DESKTOP HD: Media queries for most HD desktops ===== */
@media only screen and (max-width: 1920px) {
   
    
    
}

/* ===== SMALL DESKTOP: Media queries for laptop/small desktop ===== */
@media only screen and (max-width: 1366px) { 

      
    
}

/* ===== TABLET: Media queries for verticle and horizontal ===== */
@media only screen and (max-width: 1024px) { 

      
    
}

@media only screen and (max-width: 768px) { 

    
        
}

/* ===== MOBILE: Media queries for small mobile resolution. ===== */
@media only screen and (max-width: 640px) { 

    
        
}


@media only screen and (max-width: 360px) { 

            
        
}

